body {
    background: rgb(56, 56, 105);
    color: #fff;
}

h1,
h2,
h3,
h5,
h6 {
    color: #fff;
}

.border-radius {
    border-radius: 8px;
}

.center {
    margin: 0 auto;
}

#sidebar {
    width: 24em;
    background: #131937;
    /* color: white; */
}

#menu ul a,
#menu ul span {
    color: white;
}

.cover {
    max-width: 100%;
    /* height: auto; */
    object-fit: cover;
}

.flex {
    display: flex;
    flex-direction: column;
}

.mb-4 {
    margin-bottom: 4rem;
}


/* FAQ */
body {
    margin-top: 20px;
}

.section_padding_130 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.faq {
    padding: 35px;
}

.faq_area {
    position: relative;
    z-index: 1;
}

.faq-accordian {
    position: relative;
    z-index: 1;
    color: black;
}

.faq-accordian .card {
    position: relative;
    z-index: 1;
    margin-bottom: 1.5rem;
}

.faq-accordian .card:last-child {
    margin-bottom: 0;
}

.faq-accordian .card .card-header {
    background-color: #ffffff;
    padding: 0;
    border-bottom-color: #ebebeb;
}

.faq-accordian .card .card-header h6 {
    cursor: pointer;
    padding: 1.75rem 2rem;
    color: #3f43fd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.faq-accordian .card .card-header h6 span {
    font-size: 1.5rem;
}

.faq-accordian .card .card-header h6.collapsed {
    color: #070a57;
}

.faq-accordian .card .card-header h6.collapsed span {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.faq-accordian .card .card-body {
    padding: 1.75rem 2rem;
}

.faq-accordian .card .card-body p:last-child {
    margin-bottom: 0;
}

@media only screen and (max-width: 575px) {
    .support-button p {
        font-size: 14px;
    }
}

.support-button i {
    color: #3f43fd;
    font-size: 1.25rem;
}

@media only screen and (max-width: 575px) {
    .support-button i {
        font-size: 1rem;
    }
}

.support-button a {
    text-transform: capitalize;
    color: #2ecc71;
}

@media only screen and (max-width: 575px) {
    .support-button a {
        font-size: 13px;
    }
}


/* Cookie Consent */
/* -- Code for the Cookie Compliance popover window -- */
#cookiePopup {
    background-color: #ffffff;
    color: #000000;
    position: absolute;
    left: 5%;
    bottom: 0;
    font-size: 14px;
    width: 90%;
    box-shadow: 0 0 2em rgba(5, 0, 31, 0.15);
    font-family: "Poppins", sans-serif;
    text-align: justify;
    line-height: 1.8em;
    margin: 0 auto;
    padding: 2em 1.4em;
    border-radius: 6px;
    transition: all 0.5s ease-in-out;
}

#cookiePopup p {
    text-align: center;
    margin: 1.4em 0;
}

#cookiePopup button {
    background-color: #32894a;
    border: none;
    color: #020202;
    font-size: 1.2em;
    padding: 1em 1.4em;
    display: block;
    position: relative;
    margin: auto;
    border-radius: 5px;
}

#cookiePopup a {
    color: #3f704d;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

/* -- End of Code for the Cookie Compliance popover window -- */